<div class="row">
  <table class="table">
    <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Username</th>
          <th scope="col">Active roles</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" scope="row">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.roles }}</td>
          <td><button class="btn btn-info" (click)="editRolesModal(user)">Edit Roles</button></td>
        </tr>
    </tbody>
  </table>
</div>