.fa-user-circle {
    font-size: 30px;
}

.account_hover:hover {
    color:#28a745;
    cursor: pointer;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-menu-fix {
    left: -85px !important;
}

