.fa-user-circle {
    font-size: 30px;
}

.account_hover:hover {
    color:#28a745;
    cursor: pointer;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-menu-fix {
    left: -20px !important;
}

img {
    max-height: 50px;
    border: 2px solid lightgray;
    display: inline;
}

.dropdown-toggle:hover .img {
    border: 2px solid #2196F3;
}

.text-capitalize {
    font-size: 14px;
    font-weight: 900;
    padding: 0px 11px;
}

.nav-item {
    font-size: 14px;
    font-weight: 800;
}


a > i {
    color: #007bff;
}