<div class="container-fluid align-middle vertical-center">
  <div class="container h-100">
      <div class="row align-items-center h-100">
          <div class="col-sm-12 col-md-7 col-lg-8">
              <img src="assets/img/ilustratia.png" class="img-fluid">
          </div>
          <div class="col-sm-12 col-md-5 col-lg-4">
              <div *ngIf="!loginMode" class="">
                  <app-register (hideRegister)="hideRegister($event)"></app-register>
              </div>
              <div *ngIf="loginMode" class="">
                  <app-login (hideLogin)="hideLogin($event)"></app-login>
              </div>
          </div>
      </div>
  </div>
</div>
